@import "./base/variables";
@import "./base/base";
@import "./base/transitions";
@import "./base/mixins";
@import "./components/header";
@import "./components/footer";


.main{

    margin: 10vh 0;


    .section{

        h1{
            text-align: center;
        }

        .header-image{
            margin: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                border-radius:10px;
            }

        }


        .service-image{
            width: 100vw;
            max-width: 100%;
            height: 60vh;
            background:no-repeat center fixed url(../assets/monataje-hidraulico.jpg);
            background-size: cover;
            backdrop-filter: brightness(60%);

            .title{
                width: 100%;
                height: 100%;
                color: white;
                background: rgba(0,0,0,0.6);
                font-size: 5rem;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }



    }

    .tabs{
        margin: 0 auto;
        width: 90%;
        height:300px;
        padding: 2rem 4rem;



        .tabs-select{
            display: flex;
            padding: 2rem;

            button{
                background: transparent;
                font-size: 2rem;
                padding: 2rem 4rem;
                border: none;
                cursor: pointer;

            }


            button.active{
                color: $color-primary;
                border-bottom: 2px solid $color-primary;
                


            }


        }



        .tabs-content div{
            margin: 2rem 0;
            padding: 2rem;
            opacity: 0;
            transform: scale(0);
            transition: all 0.5s;
        }

        .tabs-content .active{
            opacity: 1;
            transform: scale(1);
        }

        

    }

}


.animacion-to-up{
    animation: animation-to-up 1s;
}