*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #555555;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 2rem;
}

@media screen and (max-width: 860px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 860px) {
  html {
    font-size: 8px;
  }
}

@-webkit-keyframes animation-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-to-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation-to-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animation-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes animation-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes animation-to-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes animation-to-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes animation-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation-to-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header .menu {
  background-color: transparent;
  padding: 2rem;
  border: none;
  cursor: pointer;
  display: none;
}

.header .menu .menu-icon {
  font-size: 4rem;
}

.header .menu-close {
  background-color: transparent;
  padding: 2rem;
  border: none;
  cursor: pointer;
  display: none;
}

.header .menu-close .icon-close {
  font-size: 4rem;
  color: #5f5f5f;
}

.header .logo {
  width: 25rem;
}

.header .navbar {
  position: relative;
}

.header .navbar .services {
  position: relative;
}

.header .navbar .services ul {
  width: 320px;
  background: white;
  position: absolute;
  top: 4rem;
  left: -4rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 4rem;
}

.header .navbar .services ul:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .services ul li {
  list-style: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .navbar .services ul li:hover {
  padding-left: 1rem;
}

.header .navbar .services ul li a {
  color: #555555;
  font-size: 1.8rem;
  text-decoration: none;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.header .navbar ul .nav {
  height: 100%;
  list-style: none;
}

.header .navbar ul .nav__links {
  position: relative;
  padding: 2rem 1rem;
  color: inherit;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header .navbar ul .nav__links.active::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 5px;
  left: 0;
  background: #1A76A5;
  border-radius: 5px;
}

.header .navbar ul .nav__links:hover + ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar ul .nav__links::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 5px;
  left: 0;
  background: #1A76A5;
  border-radius: 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .navbar ul .nav__links:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header .navbar ul .nav__links:hover {
  color: black;
}

.contact {
  margin: auto;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #25D366;
  padding: 1.5rem;
  border-radius: 50%;
  z-index: 100;
}

.contact i {
  color: white;
  font-size: 4rem;
}

.contact span {
  position: absolute;
  left: -320%;
  top: 20%;
  color: white;
  background-color: #3b3b3b;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 860px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .menu {
    display: block;
  }
  .header .menu-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header .navbar {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    width: 80vw;
    height: 100vmax;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header .navbar ul {
    width: 80%;
    height: 200px;
    margin: 10rem 5rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12rem;
  }
  .header .navbar ul li {
    padding: 0;
    height: 200px;
  }
  .header .navbar .services ul {
    width: 80%;
    margin: 5rem;
    position: unset;
    display: none;
    padding: 0;
    gap: 2rem;
  }
  .header .navbar .services:hover ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header .menu-active {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10rem;
  background-color: #1A76A5;
  padding: 5rem;
}

.footer .section {
  padding: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.footer .section p {
  font-size: 2rem;
}

.footer .section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.footer .section ul li {
  list-style: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .section ul li:hover {
  padding-left: 2rem;
}

.footer .section ul li a {
  color: white;
  text-decoration: none;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .social-media a {
  color: #125373;
}

.footer .social-media a:hover {
  color: #01334d;
}

.footer .copyright p {
  color: white;
}

.footer .copyright a {
  color: #e2e2e2;
  text-decoration: none;
}

.footer .copyright a:hover {
  font-size: 2rem;
}

.main {
  margin: 10vh 0 0 0;
  overflow: hidden;
}

.main .slide {
  width: 100vw;
  height: 80vh;
}

.main .slide .swiper-content .slide-image {
  width: 100%;
  height: 80vh;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -o-object-fit: cover;
     object-fit: cover;
}

.main .slide .swiper-content {
  position: relative;
}

.main .slide .swiper-content .slide-content {
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.main .slide .swiper-content .slide-content .slide-title {
  font-size: 7.5rem;
  font-weight: 800;
  text-transform: capitalize;
}

.main .slide .swiper-content .slide-content .slide-text {
  width: 50%;
  font-size: 1.8rem;
}

.main .slide .swiper-content .slide-content .button {
  color: white;
  background: #1A76A5;
  width: 30%;
  min-width: 20rem;
  height: 5rem;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main .slide .swiper-content .slide-content .button:hover {
  background: #125373;
}

.main .information {
  margin: 4rem;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.main .information .cards-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 5rem;
}

.main .information .cards-information i {
  color: #1A76A5;
  font-size: 5rem;
}

.main .information .cards-information .title-info {
  font-size: 4rem;
  color: #303030;
}

.main .information .cards-information .title-info + p {
  font-size: 2rem;
}

.main .about-services {
  margin: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 5rem;
}

.main .about-services .image-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .about-services .image-service-secondary img {
  width: 80%;
  height: 80%;
}

.main .about-services .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.main .about-services .description-service {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.main .about-services h2 {
  color: #1A76A5;
}

.main .about-services span {
  color: #e7e00f;
}

.main .about-services .description {
  font-size: 1.8rem;
  color: #a8a8a8;
}

.main .about-services .button-link {
  width: 50%;
  color: #1A76A5;
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

.main .about-services .button-link:hover {
  color: white;
  background-color: #1A76A5;
  padding-left: 4rem;
}

.main .about {
  width: 100vw;
  height: 800px;
  max-width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#15B1BD), color-stop(#1A76A5), to(#125373));
  background: linear-gradient(to left, #15B1BD, #1A76A5, #125373);
  -webkit-clip-path: polygon(0 9%, 100% 20%, 100% 100%, 0% 100%);
          clip-path: polygon(0 9%, 100% 20%, 100% 100%, 0% 100%);
  position: relative;
}

.main .about .content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10rem;
  text-align: center;
  color: white;
  position: absolute;
  top: 30%;
  left: 10%;
}

.main .about p {
  font-size: 3rem;
}

.main .about .link {
  color: white;
  background: transparent;
  border: none;
  font-size: 3rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
}

.main .about .link:hover {
  padding-left: 2rem;
}

.location {
  width: 90%;
  margin: 10rem auto;
}

.location h2 {
  font-size: 10rem;
  text-align: center;
}

.location iframe {
  margin-top: 10rem;
}

.fade,
.animacion-to-up,
.animacion-to-right,
.animacion-to-left,
.animacion-to-bottom {
  opacity: 0;
}

.active {
  opacity: 1;
}

.fade.active {
  -webkit-animation: animation-fade 1s;
          animation: animation-fade 1s;
}

.animacion-to-up.active {
  -webkit-animation: animation-to-up 1s;
          animation: animation-to-up 1s;
}

.animacion-to-right.active {
  -webkit-animation: animation-to-right 1s;
          animation: animation-to-right 1s;
}

.animacion-to-left.active {
  -webkit-animation: animation-to-left 1s;
          animation: animation-to-left 1s;
}

.animacion-to-bottom.active {
  -webkit-animation: animation-to-bottom 1s;
          animation: animation-to-bottom 1s;
}

@media screen and (max-width: 860px) {
  .main .about-services {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .main .image-service-secondary {
    margin: auto;
  }
}
/*# sourceMappingURL=styles.css.map */